#manipulate_regonline_output

This notebook reads the RegOnline output into a pandas DataFrame and reworks it to have each row contain the attendee, the Doppler Primer Session, the Monday Breakout session, and the Tuesday breakout session in each row.

In [2]:
import pandas as pd

In [48]:
df = pd.read_excel('/Users/matt/projects/EPRV/data/AttendeeReportCrop.xls', encoding='utf-8')

In [49]:
df.columns

Index([u'AgendaItem', u'RegId', u'GroupId', u'FirstName', u'LastName', u'Company'], dtype='object')

In [50]:
#use this if you want to encode the unicode values to ascii.
#this is helpful for displaying non-roman characters within
#the IPython notebook:
df['Firstname'] = [el.encode('ascii', 'ignore') for el in df['FirstName'].values]

In [56]:
joao = df.loc[38, 'FirstName']
print(joao)

Jo√£o

In [59]:
print(joao.encode('ascii', 'replace'))

Jo?o

In [64]:
df.loc[36:37]

,AgendaItem,RegId,GroupId,FirstName,LastName,Company,Firstname
36,Doppler Primer: Instrumentation Challenges,79809251,79809251,Jason,Eastman,CfA,Jason
37,Doppler Primer: Not Attending,79200819,79200819,Michael,Endl,McDonald Observatory / University of Texas,Michael